@model eBikes.ViewModel.ReceivngFormViewModel

@{
    ViewBag.Title = "Receiving";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wrapper">
    <div class="jumbotron">
        <h1>Receiving</h1>
    </div>
    <h2>Receiving: Order Listing</h2>
    <div class="row col-md-12">
        <h4>To navigate through this form and see how it function, please click the buttons in the sequence outlined.</h4>
    </div>
    <div class="row col-md-12">
        <ul class="list-inline">
            <li><button id="viewOrderAuto" class="btn btn-default btn-primary">1. View Order</button></li>
            <li><button id="addRecItmAuto" class="btn btn-default disabled">2. Enter Items</button></li>
            <li><button id="receiveAuto" class="btn btn-default disabled">3. Receive</button></li>
            <li><button id="unorderTabAuto" class="btn btn-default disabled">5. Unordered Tab</button></li>
            <li><button id="addUnorderedAuto" class="btn btn-default disabled">6. Enter Item</button></li>
            <li><button id="insertUnorderedAuto" class="btn btn-default disabled">7. Insert Unordered Item</button></li>
            <li><button id="deleteUnorderAuto" class="btn btn-default disabled">8. Delete</button></li>
            <li><button id="finish" class="btn btn-default disabled">9. Finish</button></li>
        </ul>
    </div>
    <div>
        <h3 id="message" class="text-success"></h3>
    </div>
    <div>
        <table id="OrderList" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Order</th>
                    <th>Order Date</th>
                    <th>Vendor</th>
                    <th>Contact</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var osOrder in Model.OutstandingOrders)
            {
                    <tr>
                        <td> @osOrder.PurchaseOrderNumber</td>
                        <td>@string.Format("{0:MM/dd/yyyy}", osOrder.OrderDate)</td>
                        <td>@osOrder.Vendor.VendorName</td>
                        <td>@osOrder.Vendor.Phone</td>
                        <td><a class="viewOrder" href="#" data-ponumber=@osOrder.PurchaseOrderNumber>View Order</a></td>
                        @*<td>@Html.ActionLink("View Order", "Details", "Receiving", new { id = osOrder.PurchaseOrderNumber }, null)</td>*@
                    </tr>
                }

            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!--Nav tabs-->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#receiving" data-toggle="tab">Receiving</a></li>
                <li><a href="#unordered" data-toggle="tab">Unordered</a></li>
            </ul>
            @*Tab panes one for each tab*@
            <div id="tabs" class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="receiving">
                    <div class="row form-inline col-md-12 details js-Order invisible">
                        @Html.Partial("_OrderDetails", Model)
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="unordered">
                    <div class="col-md-12 js-Order invisible">
                        @Html.Partial("_UnorderedParts", Model)
                    </div>
                    <div class="col-md-12 js-Order invisible">
                        @Html.Partial("_UnorderedPartsDetail", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/projscript")
    <script src="~/Scripts/jquery-validate.bootstrap-tooltip.min.js"></script>
}

